body {
  margin: 0px;
}

#game_grid {
  border: 2px black solid;
  width: 600px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#timer {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

#difficulty {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

.card {
  width: 33.3%;
  position: relative;
  transition: transform 1s;
  perspective: 1000px;
  transform-style: preserve-3d;
  flex: 0 0 auto;
}

img {
  width: 100%;
}

.front_face,
.back_face {
  position: absolute;
  backface-visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
}

.front_face {
  transform: rotateY(180deg);
}
